    <% layout("layouts/boilerplate") %>
    <h1>All Campgrounds</h1>
    <h2><a href="/campgrounds/new">New Camp</a></h2>

    <div class="d-flex flex-row flex-wrap justify-content-between">
    <% for (let campground of campgrounds){ %>
        <div class="card mx-4 my-2" style="width: 19rem;">
            <img style="height: 200px;" class="card-image-top" src="<%=campground.image%>" alt="Camp image">
            <div class="card-body text-center">
                <h5 class="card-title">
                    <%=campground.title%>
                </h5>
                <p class="card-text"><%=campground.description%></p>
                <a class="btn btn-primary"  href="/campgrounds/<%=campground._id%>">Check further information</a>
            </div>
        </div>
    <%}%>
    </div>
