<% layout("layouts/boilerplate") %>
    
<div class="row">
    <h1 class="text-center mb-4">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="campName">Title</label>
                    <input class="form-control" placeholder="Title" type="text" name="campground[title]" id="campName">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campLocation">Location</label>
                    <input class="form-control" placeholder="Camp Location" type="text" name="campground[location]" id="campLocation">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campImage">Image Url</label>
                    <input class="form-control" placeholder="Image Url" type="text" name="campground[image]" id="campImage">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campPrice">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" id="campPrice" placeholder="0.00" aria-label="Username" name="campground[price]">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campDescription">Description</label>
                    <textarea class="form-control" placeholder="Camp description" type="text" name="campground[description]" id="campDescription"></textarea>
                </div>

                <button class="btn btn-primary col-6 offset-3 mb-2">Add Camp</button>

            </form>

            <a href="/campgrounds">Come back</a>

        </div>
    
</div>

    


    
    <!--<form action="/campgrounds" method="POST">
        <div>
            <label for="campName">Title</label>
            <input type="text" name="campground[title]" id="campName">
        </div>
        <div>
            <label for="campLocation">Location</label>
            <input type="text" name="campground[location]" id="campLocation">
        </div>
        <button>Add Camp</button>
    </form>
-->
    
