<% layout("layouts/boilerplate") %>
    
<div class="row">
    <h1 class="text-center mb-4">New Campground</h1>
        <div class="col-6 offset-3">
            <form class="needs-validation" action="/campgrounds" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="campName">Title</label>
                    <input class="form-control" placeholder="Title" type="text" name="campground[title]" id="campName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campLocation">Location</label>
                    <input class="form-control" placeholder="Camp Location" type="text" name="campground[location]" id="campLocation" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campImage">Image Url</label>
                    <input class="form-control" placeholder="Image Url" type="text" name="campground[image]" id="campImage" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campPrice">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" id="campPrice" placeholder="0.00" aria-label="Username" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="campDescription">Description</label>
                    <textarea class="form-control" placeholder="Camp description" type="text" name="campground[description]" id="campDescription" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <button class="btn btn-primary col-6 offset-3 mb-2">Add Camp</button>

            </form>

            <a href="/campgrounds">Come back</a>

        </div>
    
</div>

    


    
