<% layout("layouts/boilerplate") %>

<h1 class="mb-3">Register</h1>
<form class="needs-validation" action="/register" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" placeholder="username" type="text" name="username" id="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" placeholder="email" type="text" name="email" id="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" placeholder="username" type="password" name="password" id="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-primary col-6 offset-3 mb-2">Sign Up</button>
</form>